
//custom CSS breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px,
  );

  $container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 970px,
  xl: 1200px
) !default;

//Import Bootstrap (import location irrelevant due to use of default flags)
@import "../node_modules/bootstrap/scss/bootstrap.scss";