//custom button colors
$primary: #4183d7;
$secondary: #999aa2;

//custom repeat colors
$web-color: #926fb1;
$web-dark-color: #79539a;
$it-color: #4183d7;
$it-dark-color: #286abd;
$telecoms-color: #d64541;
$telecoms-dark-color: #bc2c28;
$software-color: #67809f;
$software-dark-color: #526781;
$marketing-color: #2ecc71;
$marketing-dark-color: #25a25a;
$security-color: #f62459;
$security-dark-color: #de093f;

//custom CSS breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px,
  );

//custom container widths
  $container-max-widths: (
  md: 750px,
  lg: 970px,
  xl: 1200px,
);

//Import Bootstrap (import location irrelevant due to use of default flags)
@import "../node_modules/bootstrap/scss/bootstrap.scss";