//custom button colors
$primary: #4183d7;
$secondary: #999aa2;

//custom CSS breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px,
  );

//custom container widths
  $container-max-widths: (
  md: 750px,
  lg: 970px,
  xl: 1200px,
);

//Import Bootstrap (import location irrelevant due to use of default flags)
@import "../node_modules/bootstrap/scss/bootstrap.scss";