//custom button colors
$primary: #4183d7;
$secondary: #999aa2;

//font family
$font-family-sans-serif: Poppins, sans-serif;

//custom repeat colors
$menu: (
  "web": #926fb1,
  "it": #4183d7,
  "telecoms": #d64541,
  "software": #67809f,
  "marketing": #2ecc71,
  "security": #f62459,
  "culture": white
);


$menu-dark: (
  "web": #79539a,
  "it": #286abd,
  "telecoms": #bc2c28,
  "software": #526781,
  "marketing": #25a25a,
  "security": #de093f
);

//icon-colorscheme mapping

$icon-colorscheme: (
  "apps": #67809f,
  "display": #4183d7,
  "bar-graph": #2ecc71,
  "phone_in_talk": #d64541,
  "embed2": #926fb1,
  "security": #f62459,
  "school": #926fb1
);

//custom CSS breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px,
  );

//custom container widths
  $container-max-widths: (
  md: 750px,
  lg: 970px,
  xl: 1200px,
);

//custom cards
$card-spacer-x: 1.875rem;

//Import Bootstrap (import location irrelevant due to use of default flags)
@import "../node_modules/bootstrap/scss/bootstrap.scss";