@use '../custom' as *;

.brands-container {
    box-shadow: inset 0 5px 35px rgb(0 0 0 / 10%);
    padding: 50px 0px;
    @media (min-width: map-get($grid-breakpoints, "xl" )) {
        padding: 50px 0px;
    }
    p {
        margin-bottom: 0;
    }
}

.brands-container .container{
    display: flex;
    img {
        max-width: 100%;
    }
    .logo-div {
        position: relative;
        text-align: center;
        padding: 0 20px;
        &:hover {
            .colored {
                display: block;
            }
            .greyscale {
                display: none;
            }
            .hovercontainer {
                display: block;
            }
        }
    }
    @media (min-width: map-get($grid-breakpoints, "xl")) {
        height: 70px;
        .logo-div {
            flex-grow: 1;
        }
    }
    .colored {
        display: none;
        margin: auto;
    }
}

.hovercontainer {
    display: none;
}

.hovertip {
    position: absolute;
    color: white;
    background-color: #333645;
    width: 260px;
    min-width: 260px;
    //Shifting 20px to left aligns tooltip to image (as the logo div has 20px padding
    //Width of the image is 100% of the logo div, minus the 40px total padding
    //Difference between logo width and image width is (260px - width of image)
    //In order to centre tooltip, the tooltip must be shifted by half the difference of the image and logo width difference
    //This will provide the layout [half of tooltip and image difference] [image] [other half of tooltip difference]
    left: calc(20px - calc(calc(260px - calc(100% - 40px))) / 2);
    //Logo div height + container padding-top
    bottom: calc(100% + 50px);
    padding: 20px;
    .hover-subtitle {
        margin-top: 10px;
        font-size: 0.8125rem;
    }
    .hover-title {
        font-size: 1.125rem;
        padding-bottom: 11px;
        position: relative;
    }
}

.underline {
    display: block;
    background-color: white;
    text-align: center;
    width: 28px;
    height: 3px;
    margin: auto;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 37px;
    border-style: solid;
    border-color: #333645 transparent transparent transparent;
    top: 100%;
    left: calc(33.333333333% + 5px);
    border-radius: 0 0 100% 100%;
}