@use '../custom' as *;

#hover-nav-container {
    //These rules are required as divs with .container cannot extend beyond $container-max-width
    width: 100vw;
    background-color: #343745;
}

.nav-container {
    height: 99px;
}

.nav-ul {
    position: relative;
    border-right: 1px solid hsla(0,0%,100%,.1);
    border-left: 1px solid rgba(0,0,0,.25);
    width: 940px;
    height: 100%;
}

.nav-ul .nav-item {
    border-right: 1px solid hsla(0,0%,100%,.1);
    border-left: 1px solid rgba(0,0,0,.25);
    &:hover {
        .nav-link {
            color: white;
        }
        .hiding {
            display: flex;
        }
    }
}

.nav-item {
    &--web {
        &:hover {
            background-color: $web-color;   
        }
    }
    &--it {
        &:hover {
            background-color: $it-color;   
        }
    }
    &--telecoms {
        &:hover {
            background-color: $telecoms-color;   
        }
    }
    &--software {
        &:hover {
            background-color: $software-color;   
        }
    }
    &--marketing {
        &:hover {
            background-color: $marketing-color;   
        }
    }
    &--security {
        &:hover {
            background-color: $security-color;   
        }
    }
}

.hiding {
    display: none;
    align-items: center;
    position: absolute;
    padding-left: 0;
    top: 99px;
    left: 0;
    z-index: -1;
    list-style: none;
    width: 100vw;
    height: 45px;
    &::before {
        //Fills menu bar the whole width
        z-index: -1;
        position: absolute;
        content: '';
        left: -800px;
        width: 1000vw;
        height: 100%;
        background-color: inherit;
    }
    li:not(:last-child)::after {
        content: '-';
        padding-left: 22px;
    }
    li:not(:first-child)::before {
        content: '';
        padding-right: 22px;
    }
    &--web {
        background-color: $web-dark-color;
    }
    &--it {
        background-color: $it-dark-color;
    }
    &--telecoms {
        background-color: $telecoms-dark-color;
    }
    &--software {
        background-color: $software-dark-color;
    }
    &--marketing {
        background-color: $marketing-dark-color;
    }
    &--security {
        background-color: $security-dark-color;
    }
}