@use '../custom' as *;

#hover-nav-container {
    //These rules are required as divs with .container cannot extend beyond $container-max-width
    width: 100vw;
    background-color: #343745;
}

.nav-container {
    height: 99px;
}

.nav-ul {
    position: relative;
    border-right: 1px solid hsla(0,0%,100%,.1);
    border-left: 1px solid rgba(0,0,0,.25);
    width: 940px;
    height: 100%;
    @media (min-width: map-get($grid-breakpoints, "xl" )) {
        width: 1170px;
    }
}

.nav-ul .nav-item {
    //Styles nav buttons
    border-right: 1px solid hsla(0,0%,100%,.1);
    border-left: 1px solid rgba(0,0,0,.25);
    &:hover {
        .nav-link {
            color: white;
        }
        .hiding {
            //When nav buttons are hovered, remove display:none from each buttons respective menu
            display: flex;
            &:hover {
                //when the respective hover menu is hovered, maintain display state (necessary for IE)
                display: flex;
            } 
        }
    }
}

.nav-item {
    //TODO: Sass loop to create these styles.
    &--web {
        &:hover {
            background-color: $web-color;   
        }
    }
    &--it {
        &:hover {
            background-color: $it-color;   
        }
    }
    &--telecoms {
        &:hover {
            background-color: $telecoms-color;   
        }
    }
    &--software {
        &:hover {
            background-color: $software-color;   
        }
    }
    &--marketing {
        &:hover {
            background-color: $marketing-color;   
        }
    }
    &--security {
        &:hover {
            background-color: $security-color;   
        }
    }
}

.hiding {
    //generic hover menu styles
    display: none;
    align-items: center;
    //position absolute used to avoid creating spacing issues for the div below the navbar.
    position: absolute;
    padding-left: 0;
    top: 99px;
    left: 0;
    z-index: 2;
    list-style: none;
    width: 100vw;
    height: 45px;
    &::before {
        //Fills menu bar the whole width
        z-index: -1;
        position: absolute;
        content: '';
        left: -800px;
        width: 1000vw;
        height: 100%;
        background-color: inherit;
    }
    li:not(:last-child)::after {
        //These styles add the appropriate spacing and break characters for the hidden menus
        content: '-';
        padding-left: 22px;
        @media (min-width: map-get($grid-breakpoints, "xl" )) {
            padding-left: 32px;
        }
    }
    li:not(:first-child)::before {
        content: '';
        padding-right: 22px;
        @media (min-width: map-get($grid-breakpoints, "xl" )) {
            padding-right: 32px;
        }
    }

    //Create dark scheme for each hover nav
    @each $menu, $color in $menu-dark {
        &--#{$menu} {
            background-color: $color;
            &:hover {
                //This rule is necessary as children are not inheriting hover display properties in IE
                display: flex;
                z-index: 2;
            }
        }
    }
}
