@use '../custom' as *;

.container--slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex: 1;
    position: relative;
    background: #000;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg,transparent 25%,#000);
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        background-image: url("/images/marketing-slide.jpeg");
        background-size: cover;
        background-position: center;
    }
}

.slide--marketing {
    position: relative;
    flex: 1;
    object-fit: cover;
    object-position: center bottom;
    border-top: solid 1px #666;
    width: 100%;
    opacity: 0.5;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: none;
    }
}

.slide-caption {
    //Containing div to align marketing caption appropriately
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-content: center;
    .marketing-caption {
        color: white;
        z-index: 1;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-left: 0;
        }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        //IE specific styles
        top: 0;
        left: 0;
   }
}

.h1,
.h1-caption {
    pointer-events: none;
}

// .slide-controls {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     position: absolute;
//     z-index: 5;
//     bottom: 44px;
//     border: red 2px dotted;
// }

// .slide-button {
//     margin: 0px 10px;
//     width: 11px;
//     height: 11px;
//     border-radius: 100%;
//     cursor: pointer;
//     background-color: hsla(0,0%,100%,.5);
//     :hover {
//         background-color: #d6d6d6;
//     }
// }
