@use '../custom' as *;

.container--slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    flex: 1;
    position: relative;
    background: #000;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg,transparent 25%,#000);
    }
}

.slide--marketing {
    position: relative;
    flex: 1;
    object-fit: cover;
    object-position: center bottom;
    border-top: solid 1px #666;
    width: 100%;
    opacity: 0.5;
}

.slide-caption {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-content: center;
    .marketing-caption {
        color: white;
        z-index: 3;
    }
}