@use '../custom' as *;

.container--slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    flex: 1;
    position: relative;
    background: #000;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg,transparent 25%,#000);
    }
}

.slide--marketing {
    position: relative;
    flex: 1;
    object-fit: cover;
    object-position: center bottom;
    border-top: solid 1px #666;
    width: 100%;
    opacity: 0.5;
}

.slide-caption {
    //Containing div to align marketing caption appropriately
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-content: center;
    .marketing-caption {
        color: white;
        z-index: 1;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-left: 0;
        }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        //IE specific styles
        top: 0;
        left: 0;
   }
}

.h1,
.h1-caption {
    pointer-events: none;
}

// .hero {
//     background: cyan;
//     min-height: 60vw;
//     overflow: hidden;
//     position: relative;
    
//     &:after {
//       background: linear-gradient(
//         180deg,
//         rgba(0, 0, 0, 0) 0%,
//         rgba(0, 0, 0, 0.58) 57.99%,
//         #000000 100%
//       );
//       content: '';
//       height: 100%;
//       left: 0;
//       position: absolute;
//       top: 0;
//       width: 100%;
//     }
  
//     img {
//       object-fit: cover;
//       position: absolute;
//       top: 0;
//       width: 100%;
//       height: 100%;
//     }
    
    
//     @media (min-width: 577px) {
//       min-height: 40vw;
      
//       // IE11 does not support object-fit, using the below on tablet/desktop instead for that
//       img {
//         height: auto;
//         object-fit: unset;
//         top: 50%;
//         transform: translateY(-50%);
//         z-index: 0;
//       }
//     }
//   }