@use '../custom' as *;

.search-bar-container {
    margin-left: 20px;
    width: 303px;
    height: 56px;
    input {
        height: 100%;
    }
    @media (max-width: map-get($grid-breakpoints, "xl")) {
        justify-content: center;
        width: auto;
    }
}

.header-navbar {
    height: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand {
    margin-right: 20px;
    .logo {
        width: 370px;
        height: 64.42px;
        @media (max-width: map-get($grid-breakpoints, "sm")) {
            @include img-fluid;
        }
        @media (max-width: map-get($grid-breakpoints, "lg")) {
            width: 345px;
            height: 60.06px;
        }
    }
}

.navbar-nav {
    flex-direction: row;
}

//between extra large and medium screensizes
@media (min-width: map-get($grid-breakpoints, "lg")) and (max-width: map-get($grid-breakpoints, "xl")) {
    #search-field {
        //do not show search field
        display: none;
    }
 }

 @media (max-width: map-get($grid-breakpoints, "lg" )) {
     .row {
         width: 100%;
     }
 }

