@use '../custom' as *;

.search-bar-container {
    width: 303px;
    height: 56px;
    input {
        height: 100%;
    }
    @media (max-width: map-get($grid-breakpoints, "xl")) {
        justify-content: center;
        width: auto;
    }
}

.search-bar-container-mobile {
    width: 100%;
    margin-top: 11px;
    height: 47px;
    background-color: rgba(229,229,229,.1);
    outline: 1px solid hsla(0,0%,100%,.2);
    border: 2px solid rgba(0,0,0,.1);
    input,
    #search-mobile {
        background-color: rgba(0,0,0,.1);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        height: 100%;
    }
    #search-mobile {
        border: none;
    }
}

.header-navbar {
    height: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
    @media (max-width: map-get($grid-breakpoints, "md")) {
        height: 168px;
    }
}

.actions {
    @media (max-width: map-get($grid-breakpoints, "sm" )) {
        width: 120px;
        padding-left: 0;
        margin-left: 15px;
    }
}


.navbar-brand {
    @media (max-width: map-get($grid-breakpoints, "md" )) {
        flex: initial;
    }
    padding: 0;
    margin-right: 0px;
    //TODO: fix smallest viewports to have a responsive logo and fixed margins
    .logo {
        @media (max-width: map-get($grid-breakpoints, "sm" )) {
            @include img-fluid;
        }
        @media (min-width: map-get($grid-breakpoints, "sm" )) {
            width: 402px;
        }
        @media (min-width: map-get($grid-breakpoints, "md" )) {
            width: 345px;
            height: 60.06px;
            margin-left: 15px;
            margin-bottom: 10px;
        }

        @media (min-width: map-get($grid-breakpoints, "lg")) {
            width: 374.16px;
            height: 65.14px;
        }
        @media (min-width: map-get($grid-breakpoints, "xl" )) {
            width: 370px;
            height: 64.2px;
        }
    }
}

#search-field,
#search-field-mobile {
    //between extra large and medium screensizes
    @media (min-width: map-get($grid-breakpoints, "lg")) and (max-width: map-get($grid-breakpoints, "xl")) {
        display: none;
    }
}

 #uhead-container {
    @media (max-width: map-get($grid-breakpoints, "md" )) {
        padding-left: 0;
    }
 }

 .row {
    @media (max-width: map-get($grid-breakpoints, "md" )) {
        margin-left: 0;
        height: 70px;
    }
 }

//  @media (max-width: map-get($grid-breakpoints, "md" )) {
//      #uhead-container {
//          padding-left: 0;
//      }
//      .row {
//          height: 70px;
//      }
//  }
//  @media (min-width: map-get($grid-breakpoints, "sm" )) {
//      //This rule allows the row to fit into the container while ignoring the containers' padding
//      .row {
//          margin-left: 0px;
//          margin-right: 0px;
//      }
//  }

