//Import components
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

//Import sections
@use 'sections/sidebar';
@use 'sections/lightbox';
@use 'sections/upperheader';
@use 'sections/navbar';
@use 'sections/slider';
@use 'sections/infocards';
@use 'sections/culture';
@use 'sections/latestcards';
@use 'sections/brands';
@use 'sections/signup';
@use 'sections/footer';
@use 'sections/endorsements';
@use 'sections/offices';
@use 'sections/enquiryform';

//Imports custom sass
@use 'custom';
