@use '../custom' as *;

.latest-intro-container {
    box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
}

.latest-intro-container .container{
    height: 104px;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 40px 15px 0px 15px;
}

.latest-intro {
    position: relative;
}

.latest-intro-underline {
    position: absolute;
    height: 5px;
    left: 0px;
    bottom: -35px;
    width: 100%;
    background-color: #333645;
}


.img-container {
    overflow: hidden;
    position: relative;
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        img {
            transition: all .25s cubic-bezier(.215,.61,.355,1);
            &:hover {
                opacity: 0.75;
                transform: scale(1.1);
            }
        }
    }
}

.img-label-container {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 10px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.438rem;
    &--it {
        background-color: map-get($menu, "it");
    }
    &--web {
        background-color: map-get($menu, "web");
    }
    span {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}

.card-title--web {
    color: map-get($menu, "web");
}

.card {
    height: 100%;
    box-shadow: 35px 0px 20px 7px rgb(0 0 0 / 8%);
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--short-header {
            justify-content: flex-start;
            .card-title-link {
                margin-bottom: auto;
                .card-title {
                    margin-bottom: 0;
                }
            }
        }
        .card-text {
            margin-bottom: 25px;
        }
    }
}

.no-shadow {
    box-shadow: none;
}

.card-owner {
    display: flex;
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    font-size: 0.875rem;
    &-img {
        // position: absolute;
        // bottom: 0;
        height: 47px;
        border-radius: 50%;
        margin-right: 20px;
    }
    p {
        line-height: 1.375rem;
        margin-bottom: 0px;
    }
    &-title {
        white-space: normal;
        line-height: 1.5rem;
        color: #333645;
        font-weight: 600;
    }
    &-date {
        color: #666666;
    }
    &-details {
        white-space: nowrap;
    }
}
