@use '../custom' as *;

.compact-nav {
    width: 100%;
    ul {
        display: flex;
        flex-direction: row;
        margin-bottom: 14px;
        margin-top: 14px;
        padding-left: 0px;
        width: 100%;
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 0.8125rem;
            position: relative;
            margin-right: 25px;
        }
        :not(li:last-of-type)::after {
            content: '/';
            position: absolute;
            right: -16px;
        }
    }
}