@use '../custom' as *;

.hidden-nav-container {
    display: none;
    position: fixed;
    z-index: -10;
    overflow-y: scroll;
    height: 100vh;
    width: 275px;
    top: 0;
    right: 0;
    background-color: #333645;
    color: white;
    text-transform: uppercase;
    .mobile-nav {
        padding: 21px 21px 0px 21px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    }
    a {
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
    .mobile-header, .nav-subheader {
        display: flex;
        justify-content: center;
        padding: 18px 0px 18px;
        margin-bottom: 21px;
        box-shadow:
        0 0 0 1px hsla(0,0%,100%,.17),
        0 0 0 2px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        font-size: 1.125rem;
    }
    .sidebar-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        span:first-child {
            font-size: 1.438rem;
        }
        span:nth-of-type(2) {
            margin-top: 0.75rem;
            font-size: 0.625rem;
        }
    }
    .sidebar-ul {
        background-color: rgba(0,0,0,.25);
        padding-left: 0;
        margin-bottom: 22px;
        li {
            display: flex;
            justify-content: center;
            padding: 10px;
            border-top: solid 1px rgb(255 255 255 / 9%);
            border-bottom: solid 1px rgba(0, 0, 0, 0.25);
        }
    }
    h2 {
        padding: 20px;
        font-size: 1rem;
        font-weight: 400;
        border-bottom: solid 1px rgba(0, 0, 0, 0.25);
        border-top: solid 1px rgb(255 255 255 / 9%);
        margin-bottom: 0px;
        &:hover {
            background-color: hsla(0,0%,100%,.05);
        }
    }
    .sidebar-ul-secondary {
        font-size: 0.875rem;
        margin-bottom: 0px;
        li {
            padding: 15px 20px;
            justify-content: flex-start;
            span {
                padding-right: 15px;
                display: flex;
                &::before {
                    align-self: center;
                    font-size: 0.7rem;
                    font-weight: bold;
                }
            }
        }
    }
    @media (min-width: map-get($grid-breakpoints, "lg" )) {
        width: 350px;
        right: 0;
    }
}

