@use '../custom' as *;

.container--slider {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.adjustdots {
    display: flex;
    align-self: center;
    position: absolute;
    width: 30%;
    justify-content: center;
    bottom: 0;
}

.slider {
    height: 100%;
    width: 100%;
    flex: 1;
    position: relative;
    background: black;
    overflow: hidden;
    .slide {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        background-position: center top;
        background-size: cover;
        &--marketing {
            background-image: url("/app/images/marketing-slide.jpeg");
        }
        &-it {
            background-image: url("/app/images/it-support.webp");
        }
    }
}

.slide-caption {
    //Containing div to align marketing caption appropriately
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background: linear-gradient(270deg,transparent 25%,#000);
    &-content {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        color: white;
        .btn {
            margin-right: auto;
        }
    }
    .slick-track, .slick-list {
        height: 100%;
    }
}

.h1,
.h1-caption {
    pointer-events: none;
}

// .slide-controls {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     position: absolute;
//     z-index: 5;
//     bottom: 44px;
//     border: red 2px dotted;
// }

// .slide-button {
//     margin: 0px 10px;
//     width: 11px;
//     height: 11px;
//     border-radius: 100%;
//     cursor: pointer;
//     background-color: hsla(0,0%,100%,.5);
//     :hover {
//         background-color: #d6d6d6;
//     }
// }
