@use "../custom" as *;

$support-btn-color: #4183d7;
$contact-btn-color: #999aa2;

.btn {
    height: 56px;
    font-size: 1.125rem;
    font-weight: 400;
}

.search-bar-container {
    .btn {
        width: 63px;
    }
}

.navbar {
    .btn-primary {
        background-color: $support-btn-color;
        border-color: $support-btn-color;
        margin-right: 20px;
    }
    .btn-secondary {
        background-color: $contact-btn-color;
        border-color: $contact-btn-color;
    }
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 3px;
    min-width: 63px;
    height: 56px;
    cursor: pointer;
    background-color:#333645;
  }

  .menu-btn__burger {
    width: 33px;
    height: 3px;
    background: white;
    border-radius: 1px;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 33px;
    height: 3px;
    background: white;
    border-radius: 1px;
  }
  .menu-btn__burger::before {
    transform: translateY(-8px);
  }
  .menu-btn__burger::after {
    transform: translateY(-16px);
  }

  .title {
    position: absolute;
    text-transform: uppercase;
    font-size: 0.75rem;
    top: 33px;
    color: white;
  }