@use "../custom" as *;


.btn {
    height: 56px;
    font-size: 1.125rem;
    font-weight: 400;
}

.search-bar-container {
    margin-left: 20px;
    .btn {
        width: 63px;
    }
}

.navbar {
    .btn-primary {
        margin-right: 20px;
    }
    .btn-secondary {
        color: white;
    }
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 3px;
    min-width: 63px;
    height: 56px;
    cursor: pointer;
    background-color:#333645;
  }

  .menu-btn__burger {
    width: 33px;
    height: 3px;
    background: white;
    border-radius: 1px;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 33px;
    height: 3px;
    background: white;
    border-radius: 1px;
  }
  .menu-btn__burger::before {
    transform: translateY(-8px);
  }
  .menu-btn__burger::after {
    transform: translateY(-16px);
  }

  .title {
    position: absolute;
    text-transform: uppercase;
    font-size: 0.75rem;
    top: 33px;
    color: white;
  }