@use "../custom" as *;

// <upperheader>
.btn {
    height: 56px;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
}

.search-bar-container {
    .btn {
        width: 63px;
    }
}

.navbar {
  //Refers to upper header
    .nav-item {
      margin: auto 0;
    }
    .nav-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      color: white;
      border-radius: 3px;
      &--blue, &--grey {
        padding: 5px 15px;
      }
      &--blue {
        margin-right: 20px;
        background-color: map-get($menu, "it");
        border-color: map-get($menu, "it");
        &:hover {
          background-color: #2a6ec6;
          border-color: #2665b5;
        }
      }
      &--grey, &--search {
        background-color: #999aa2;
        border-color: #999aa2;
        &:hover {
          background-color: #84858f;
          border-color: #797a85;
        }
      }
      &--search {
        padding: 7px 20px 3px;
        &:hover {
          text-decoration: none;
        }
      }
    }
}

// Menu icon styling
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-radius: 3px;
  min-width: 63px;
  height: 56px;
  cursor: pointer;
  background-color:#333645;
  &:hover {
    background-color: #22242e;
  }
}

.menu-btn__burger {
  width: 33px;
  height: 3px;
  background: white;
  border-radius: 1px;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 33px;
  height: 3px;
  background: white;
  border-radius: 1px;
}
.menu-btn__burger::before {
  transform: translateY(-8px);
}
.menu-btn__burger::after {
  transform: translateY(-16px);
}

.title {
  position: absolute;
  text-transform: uppercase;
  font-size: 0.75rem;
  top: 33px;
  color: white;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      left: 15.5px;
  }
}

// </upperheader>

// <slider>

.btn-marketing,
.btn-slider {
  color: white;
  background-color: map-get($menu, "marketing");
  border-color: map-get($menu, "marketing");
  text-align: center;
  font-size: 1.25rem;
  border-radius: 3px;
  &:hover {
    color: white;
    background-color: map-get($menu-dark, "marketing");
    border-color: map-get($menu-dark, "marketing")
  }
}

.btn-marketing {
  padding-bottom: 1rem;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-slider {
  height: 60px;
  padding: 5px 20px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

//<infocards>

@each $menu, $color in $menu {
    .btn-#{$menu} {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      transition: none;
      color: white;
      background-color: $color;
      border-color: $color;
      text-align: center;
      border-radius: 3px;
      height: 45px;
      padding: 5px 15px;
      font-size: 1.063rem;
      span {
        vertical-align: middle;
        width: 100%;
      }
    }
}    

//</infocards>

//<culture>

.btn-culture {
  color: #333645;
  span {
      width: auto;
      line-height: inherit;
  }
  .icon-arrow-right2 {
      margin: auto -4px auto 12px;
  }
  &:hover {
      background-color: #ebebeb;
      border-color: #e0e0e0;
  }
}

//</culture>

//<latest>

.card-body {
    .btn-it, .btn-web {
      align-self: flex-start;
      margin: 0;
      &:hover {
        color: white;
      }
    }
    .btn-it {
      &:hover {
        background-color: map-get($menu-dark, "it");
        border-color: map-get($menu-dark, "it")
      }
    }
    .btn-web {
      &:hover {
        background-color: map-get($menu-dark, "web");
        border-color: map-get($menu-dark, "web")
      }
    }
}