@use "../custom" as *;

// <upperheader>
.btn {
    height: 56px;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
}

.search-bar-container {
    margin-left: 20px;
    .btn {
        width: 63px;
    }
}

.navbar {
  //Refers to upper header
    .btn-primary {
        margin-right: 20px;
    }
    .btn-secondary {
        color: white;
    }
}

// Menu icon styling
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-radius: 3px;
  min-width: 63px;
  height: 56px;
  cursor: pointer;
  background-color:#333645;
}

.menu-btn__burger {
  width: 33px;
  height: 3px;
  background: white;
  border-radius: 1px;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 33px;
  height: 3px;
  background: white;
  border-radius: 1px;
}
.menu-btn__burger::before {
  transform: translateY(-8px);
}
.menu-btn__burger::after {
  transform: translateY(-16px);
}

.title {
  position: absolute;
  text-transform: uppercase;
  font-size: 0.75rem;
  top: 33px;
  color: white;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      left: 15.5px;
  }
}

// </upperheader>

// <slider>

.btn-marketing {
  color: white;
  background-color: map-get($menu, "marketing");
  border-color: map-get($menu, "marketing");
  text-align: center;
  font-size: 1.25rem;
  border-radius: 3px;
  padding-bottom: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    color: white;
    background-color: map-get($menu-dark, "marketing");
    border-color: map-get($menu-dark, "marketing")
  }
}

//<infocards>

@each $menu, $color in $menu {
    .btn-#{$menu} {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      transition: none;
      color: white;
      background-color: $color;
      border-color: $color;
      text-align: center;
      border-radius: 3px;
      height: 45px;
      padding: 5px 15px;
      font-size: 1.063rem;
      span {
        vertical-align: middle;
        width: 100%;
      }
    }
}    

//</infocards>

//<culture>

.btn-culture {
  color: #333645;
  span {
      width: auto;
      line-height: inherit;
  }
  .icon-arrow-right2 {
      margin: auto -4px auto 12px;
  }
  &:hover {
      background-color: #ebebeb;
      border-color: #e0e0e0;
  }
}

//</culture>