@use '../custom';


$font-family-base: Poppins, sans-serif;

// <upperheader>
.search-bar-container {
    .form-control {
        border: 1px solid #ccc;
        border-radius: 0px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        font-size: 0.875rem;
        font-family: $font-family-base;
    }
}

.search-bar-container-mobile {
    #search-mobile {
        font-size: 0.875rem;
        font-family: $font-family-base;
    }
}
.fa-mouse {
    font-size: 1.2rem;
}

// </upperheader>

// <navbar>

.nav-ul {
    text-transform: uppercase;
}

.nav-link {
    color: white;
}
