@use '../custom' as *;

body {
    letter-spacing: 0.4px;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../../assets/webfonts/icomoon.eot?45q3x6');
    src:  url('../../assets/webfonts/icomoon.eot?45q3x6#iefix') format('embedded-opentype'),
      url('../../assets/webfonts/icomoon.ttf?45q3x6') format('truetype'),
      url('../../assets/webfonts/icomoon.woff?45q3x6') format('woff'),
      url('../../assets/webfonts/icomoon.svg?45q3x6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-linkedin:before {
    content: "\e909";
  }
  .icon-instagram:before {
    content: "\e905";
  }
  .icon-twitter:before {
    content: "\e906";
  }
  .icon-facebook:before {
    content: "\e907";
  }
  .icon-facebook-f:before {
    content: "\e907";
  }
  .icon-bar-graph:before {
    content: "\e900";
  }
  .icon-mouse:before {
    content: "\e908";
  }
  .icon-school:before {
    content: "\e904";
  }
  .icon-security:before {
    content: "\e901";
  }
  .icon-apps:before {
    content: "\e902";
  }
  .icon-phone_in_talk:before {
    content: "\e903";
  }
  .icon-display:before {
    content: "\e956";
  }
  .icon-arrow-right2:before {
    content: "\ea3c";
  }
  .icon-embed2:before {
    content: "\ea80";
  }

// <upperheader>
.search-bar-container {
    .form-control {
        border: 1px solid #ccc;
        border-radius: 0px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        font-size: 0.875rem;
        font-family: $font-family-sans-serif;
    }
}

.search-bar-container-mobile {
    #search-mobile {
        font-size: 0.875rem;
        font-family: $font-family-sans-serif;
    }
}
.fa-mouse {
    font-size: 1.2rem;
}

// </upperheader>

// <navbar>

.nav-ul {
    text-transform: uppercase;
}

.nav-link {
    letter-spacing: 0.4px;
    font-size: 1.125rem;
    color: white;
    line-height: 0.5;
    span {
        font-size: 1.438rem;
        font-weight: 400;
        margin-bottom: -10px;
        line-height: 1.8;
        margin-top: 12px;
    }
    small {
        margin-bottom: 10px;
        font-size: 0.625rem;
        line-height: 1.7;
    }
}

.icon {
    &-embed2 {
        color: map-get($menu, "web");
    }
    &-display {
        color: map-get($menu, "it");
    }
    &-phone_in_talk {
        color: map-get($menu, "telecoms");
    }
    &-apps {
        color: map-get($menu, "software");
    }
    &-bar-graph {
        color: map-get($menu, "marketing");
    }
    &-security {
        color: map-get($menu, "security");
    }
}

.nav-item:hover {
    .nav-link span {
        color: white;
    }
}

.hiding {
    a, a:hover {
        color: white;
        text-decoration: none;
    }
    letter-spacing: 0.4px;
    font-family: $font-family-sans-serif;
    font-size: 0.8125rem;
    color: white;
    @media (min-width: map-get($grid-breakpoints, "xl" )) {
        font-size: 1rem;
    }
}

.slide-caption {
    text-align: center;
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        text-align: left;
    }
}

.h1 {
    font-size: 3rem;
    text-transform: uppercase;
    &-caption {
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
    margin-bottom: 2px;
}

.vertical-center {
    vertical-align: middle;
}

//<infocards>


@each $icon, $color in $icon-colorscheme {
  .icon-container--#{$icon} {
    font-size: 1.438rem;
    line-height: 58px;
    margin-bottom: 17px;
  }
}

.info-card .h2 {
    display: block;
    color: #333645;
    font-size: 1.125rem;
    position: relative;
    &::after {
        content: "";
        text-align: center;
        display: block;
        position: absolute;
        top: calc(1.125rem + 17px);
        left: calc(50% - 14px);
        width: 28px;
        height: 3px;
        background-color: #333645;
    }
}

.info-card .p {
    font-size: 0.8125rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #333645;
}

// </infocards>

// <culture>
.culture-bg {
  line-height: 1.875rem;
  p {
    color: white;
    margin-bottom: 25px;
  }
  .culture-title {
    font-size: 2.25rem;
    text-transform: uppercase;
    margin-top: -8px;
    margin-bottom: 28px;
  }
  .culture-intro {
    font-weight: 600;
  }
}
// </culture>

// <latest-cards>

.card-text {
  font-size: 0.8125rem;
  color: #666;
}

// </latest-cards>